@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

/* global */
#header h1 {
  color: #ec5242;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  color: #272a31;
}

#program h2 {
  color: #fff;
}

#program h4 {
  color: #ec5242;
}

#program i {
  color: #fff;
}

#program p {
  color: #fff;
}

/* mobile */
@media (max-width: 768px) {
  /* header */
  #header {
    padding: 15px;
    background-image: url("/images/headerbg.jpg");
    background-size: cover;
    background-position: top;
    height: 70vh;
  }

  #header i {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
  }

  #header h1 {
    font-size: 30px;
  }

  #header .description {
    margin-top: 28px;
    padding: 12px;
  }

  #header header .description {
    border: #fff 3px solid;
  }

  #header .overview {
    margin-top: 30px;
  }

  #header h3 {
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 5px;
  }

  /* Program */
  #program {
    background-image: url("/images/programbg.jpg");
    background-size: cover;
    background-position: top;
    padding: 25px 8px;
  }

  #program h2 {
    font-size: 20px;
    text-align: center;
  }

  #program .line {
    text-align: center;
  }

  #program hr {
    width: 40px;
    margin: 10px auto;
    background-color: #ec5242;
    height: 3px;
    border: none;
    margin-bottom: 25px;
  }

  #program .activity {
    background-color: rgba(247, 247, 247, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    margin-top: 10px;
  }

  #program i {
    font-size: 28px;
  }

  #program .activity:nth-child(2) h4 {
    margin-left: 15px;
    margin-right: 10px;
  }

  #program .join-link a {
    background-color: #ec5242;
    color: #fff;
    margin: auto;
    margin-top: 20px;
    padding: 30px 45px;
    display: flex;
    align-items: center;
    max-width: 300px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }

  /* Featured speakers */
  #featured-speakers h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
  }

  #featured-speakers .line {
    text-align: center;
  }

  #featured-speakers hr {
    width: 40px;
    margin: 10px auto;
    background-color: #ec5242;
    height: 3px;
    border: none;
    margin-bottom: 25px;
  }

  #featured-speakers .speaker {
    display: flex;
    align-items: center;
    padding: 12px;
  }

  #featured-speakers .speaker .left {
    position: relative;
    min-width: 120px;
    min-height: 120px;
  }

  #featured-speakers .speaker img:nth-child(1) {
    max-width: 55px;
  }

  #featured-speakers .speaker img:nth-child(2) {
    max-width: 100px;
    position: absolute;
    bottom: 9px;
    right: 9px;
  }

  #featured-speakers .speaker .right h3 {
    color: #272a31;
  }

  #featured-speakers .speaker .right p {
    font-style: italic;
    color: #ec5242;
  }

  /* Partners */
  #partners {
    background-color: #414246;
    padding: 20px;
  }

  #partners h2 {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  #partners .line {
    text-align: center;
  }

  #partners hr {
    width: 40px;
    margin: 10px auto;
    background-color: #ec5242;
    height: 3px;
    border: none;
    margin-bottom: 25px;
  }

  #partners .partners div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #partners .partners div:nth-child(1) {
    margin-bottom: 10px;
  }

  #partners .partners div:nth-child(2) img {
    height: 35px;
    width: 170px;
  }

  /* Footer */
  footer {
    padding: 30px;
    color: #272a31;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }

  /* Mobile overlay */
  #mobile-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #e8e6e7;
    z-index: 1000;
    display: none;
  }

  #mobile-overlay i {
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 22px;
  }

  #mobile-overlay nav {
    margin-left: 20px;
  }

  #mobile-overlay li {
    margin-bottom: 18px;
    font-size: 25px;
    list-style: none;
  }

  #mobile-overlay .nav a {
    text-decoration: none;
    color: #272a31;
  }

  /* About */
  #header .about-header h1 {
    text-align: center;
  }

  #header .about-header .description {
    background-color: #fff;
    text-align: center;
    border: rgba(65, 66, 70, 0.3) 1px solid !important;
  }

  #header .about-header .contact-details {
    text-align: center;
    margin-top: 15px;
    line-height: 1.5;
  }

  #header .about-header .contact-details a {
    color: #272a31;
    font-weight: 700;
  }
}
